#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .line {
    background-color: #213547;
  }
}

h1 {
  font-size: 72px;
  margin: 50px 0 50px 0;
  user-select: none;
}

.playBtn {
  margin-top: 225px;
  width: 300px;
  height: 150px;
  background-color: rgb(70, 192, 70);
  color: white;
  font-weight: bold;
  font-size: 64px;
  border: 0;
  border-radius: 25px;
  font-family: inherit;
  cursor: pointer;
}

.playBtn:hover,
.exitBtn:hover {
  filter: brightness(0.9);
}

.playBtn:active,
.exitBtn:active {
  filter: brightness(0.7);
}

.tiles {
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

.endScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  z-index: 1;
  top: 158px;
  margin: auto;
  height: 700px;
  width: 700px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  animation: 0.5s 1 alternate endScreenFadeIn;
  margin: auto;
}

@keyframes endScreenFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.endScreenPlayBtn {
  margin: 0;
  position: relative;
  font-size: 48px;
}

.exitBtn {
  position: absolute;
  border: 0;
  border-radius: 10px;
  height: 75px;
  width: 150px;
  background-color: rgb(160, 3, 3);
  font-family: inherit;
  font-size: 32px;
  bottom: 160px;
  cursor: pointer;
}

.lines {
  display: flex;
  position: absolute;
  z-index: -1;
  width: 600px;
  height: 600px;
}

.line {
  background-color: white;
  border-radius: 5px;
}

.horizontal .line {
  height: 10px;
  width: 600px;
  animation: 1s 1 alternate horizontalSlideIn;
}

.horizontal {
  flex-direction: column;
  row-gap: 195px;
  top: 408px;
  height: 400px;
}

@keyframes horizontalSlideIn {
  from {
    margin-right: 100%;
    width: 0;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.vertical {
  margin-left: 380px;
  column-gap: 195px;
  top: 208px;
}

.vertical .line {
  height: 600px;
  width: 10px;
  animation: 1s 1 alternate verticalSlideIn;
}

@keyframes verticalSlideIn {
  from {
    margin-bottom: 100%;
    height: 0;
  }

  to {
    margin-bottom: 0%;
    height: 100%;
  }
}
