.tile {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  font-weight: bold;
  user-select: none;
}

.tileImg {
  height: 100px;
  width: 100px;
  filter: invert(100%) sepia(6%) saturate(9%) hue-rotate(300deg)
    brightness(105%) contrast(100%);
  border: none;
}
